*{
    margin: 0;
    padding: 0;
}

.container {
    margin: 0 auto;
    margin-top: 30px;
    width: 35%;
    height: 370px;
    background-color: #eef4ff;
    border-top: 3px solid #6f7a9a;
    box-shadow: 0 2px 6px rgb(142 136 192 / 30%);
    border-radius: 0.5em;
}

.container h1 {
    display: block;
    text-align: center;
    color: #444681;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 1.4em;
    border-bottom: 2px solid #6f7a9a;
    padding: 10px 0;
    margin-bottom: 25px;
}

.container span {
    display: block;
    padding: 0 20px;
    margin-top: 15px;
    font-family: sans-serif;
    font-size: 1.1em;
    font-weight: bold;
    color: #444681;
}