header {
    background: #272935;
    width: 100%;
    padding: 20px;

    /* Flexbox */
    display: flex;
    justify-content: space-between;
    align-items: center;

    flex-direction: row;
    flex-wrap: wrap;
}

header .logo {
    color: #fff;
    font-size: 30px;
}

header .logo img {
    width: 50px;
    vertical-align: top;
    margin-left: 10px;
    margin-right: 25px;
}

header .logo a {
    color: #fff;
    text-decoration: none;
    line-height: 50px;
}